html,
body {
  height: 100%;
}

body {
  display: flex;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #f5f5f5;
  font-family: 'Montserrat', sans-serif;
  color: #565656;
}

.form-signin {
  width: 100%;
  max-width: 465px;
  padding: 15px;
  margin: auto;
  text-align: left;
  background-color: white;
  box-shadow: 0 12px 20px rgba(68,68,68,0.2);
  border-radius: 25px;
}
.form-signin .checkbox {
  font-weight: 400;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 3px;
  font-size: 24px;
  padding-left: 28px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-radius: 25px;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-radius: 25px;
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.text-bottom-input {
  font-size: 14px;
  margin-top: .25rem;
}


.b-amipass {
  width: 168px;
  text-align: center;
  margin: auto;
  border-radius: 25px;
  background-color: #FF1E2F;
  height: 37px;
  padding-top: 5px;
  border: none;
  font-size: 18px;
  font-weight: 500;
}

form {
  padding: 44px;
}

.btn-primary:hover {
  color: #fff;
  background-color: #e60000;
  border-color: #e60000;
}

.btn-primary:active, .show > .btn-primary.dropdown-toggle {
  color: #fff;
  background-color: #f00;
  border-color: #f00;
}

.btn-check:focus + .btn-primary, .btn-primary:focus {
  color: #fff;
  background-color: #FF1E2F;
  border-color: #FF1E2F;
  box-shadow: 0 0 0 .25rem rgba(253, 49, 49, 0.5);
}

.m-t-20 {
  margin-top: 20px;
}

.m-t-10 {
  margin-top: 10px;
}

.p-b-20 {
  padding-bottom: 20px;
}

h1, .h1 {
  font-size: 24px;
  font-weight: bold;
}

.form-label{
  font-weight: 600;
}

.form-control:focus {
  color: #212529;
  background-color: #fff;
  border-color: #a2a2a2;
  outline: 0;
  box-shadow: 0 0 0 .25rem rgba(162, 162, 162, 0.25);
}

.menu-m {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  width: auto;
  height: 46px;
  background-color: white;
}

.menu-m .left {
  left: 36px;
  display: block;
  position: absolute;
  -webkit-transform: translate(10px, -7px);
  -moz-transform: translate(10px, -7px);
}

.menu-m .right {
  right: 20px;
  display: flex;
  position: absolute;
  margin-top: 12px;
}

.menu-m .left img {
  width: 133px;
  height: auto;
  margin-top: 3px;
  display: table;
  padding-top: 5px;
}

.modal-header {
  border-bottom: none;
}

.modal-footer {
  border-top: none;
  margin: auto;
  padding-bottom: 50px;
}

.modal-body {
  padding: 0.5rem;
}

.btn-secondary-pass {
  border-radius: 25px;
  padding-left: 25px;
  padding-right: 25px;
  font-weight: 500;
  color: #A1A1A1;
  background-color: white;
  border-color: #A1A1A1;
}

.btn-secondary-pass:hover {
  border-radius: 25px;
  padding-left: 25px;
  padding-right: 25px;
  font-weight: 500;
  color: white;
  background-color: #FF1E2F;
  border: none;
}
.btn-secondary-pass:focus {
  color: #fff;
  background-color: #FF1E2F;
  border-color: #FF1E2F;
  box-shadow: 0 0 0 .25rem rgba(253, 49, 49, 0.5);
  }

.icon-modal {
    width: 100px;
  }

  .modal-content {
    border-radius: 25px;
}

.alert-content {
  margin: auto;
  text-align: center;
}

.invalid-feedback {
  font-weight: bold;
}

.valid-feedback {
  font-weight: bold;
}

.form-control.is-invalid, .was-validated .form-control:invalid {
  border-color: #dc3545;
  padding-right: calc(1.5em + .75rem);
  background-image: url("../img/icon-X.svg");
  background-repeat: no-repeat;
  background-position: right calc(.375em + .1875rem) center;
  background-size: calc(.75em + .1rem) calc(.75em + .1rem);
}


@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

@media (max-width: 1023px) {
  .menu-m .left {
    left: inherit;
    display: block;
    position: initial;
    -webkit-transform: translate(10px, -7px);
    -moz-transform: translate(10px, -7px);
    margin: auto;
  }
}